# Importing libraries

In [19]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

# reading dataset

In [2]:
df=pd.read_csv('F:\Dataset\FineTech_appData.csv')

In [3]:
df

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,222774,2013-05-09 13:46:17.871,3,13:00:00,32,"Splash,Home,ScanPreview,VerifyPhone,VerifySSN,...",13,0,0,1,2013-05-09 13:47:52.875,0
49996,169179,2013-04-09 00:05:17.823,1,00:00:00,35,"Cycle,Splash,Home,RewardsContainer",4,0,1,0,NaN,0
49997,302367,2013-02-20 22:41:51.165,2,22:00:00,39,"joinscreen,product_review,product_review2,Scan...",25,0,0,0,NaN,0
49998,324905,2013-04-28 12:33:04.288,6,12:00:00,27,"Cycle,Home,product_review,product_review,produ...",26,0,0,1,2013-04-28 12:35:38.709,0
49999,27047,2012-12-14 01:22:44.638,4,01:00:00,25,"product_review,ScanPreview,VerifyDateOfBirth,V...",26,0,0,0,NaN,1

In [4]:
print("Total Shape of our main dataset-->",df.shape)    #checking the total numbers of rows and columns in our dataset

Total Shape of our main dataset--> (50000, 12)

In [5]:
null_data = df.isnull().sum()/df.shape[0]*100
null_columns = null_data[null_data>20].keys()        # fetching columns having more than 20% of missing data
print("Droping those columns have large amout of null values\n\n",null_columns)

Droping those columns have large amout of null values

 Index(['enrolled_date'], dtype='object')

In [6]:
df = df.drop(columns=null_columns)                         #droping columns 
print("Total rows and column of our main dataset after removing null columns-->",df.shape)

Total rows and column of our main dataset after removing null columns--> (50000, 11)

In [7]:
df = df.drop(columns=['user','first_open','hour','screen_list'])    #these columns are not very important thats why we 
                                                                    #are droping them

### checking number of columns remian after removing null columns form our dataset

In [8]:
print("Total rows and column of our main dataset after removing unessential columns-->",df.shape)

Total rows and column of our main dataset after removing unessential columns--> (50000, 7)

### checking weather null data present in numerical columns.

In [9]:
X_num = df.select_dtypes(include=["int64","float64"])                                         # select numerical data type
print("Number of null data present in our Numerial dataset",X_num.isnull().sum().sum())

Number of null data present in our Numerial dataset 0

### checking weather null data presnet in object columns.

In [10]:
X_char = df.select_dtypes(include=["object"])                                # selecting stirng data
char_nn = [var for var in X_char.columns if X_char[var].isnull().sum()>0]
print("Character data having null values\n\n",char_nn)

Character data having null values

 []

In [11]:
print("Total null values in our dataset -->",df.isnull().sum().sum())

Total null values in our dataset --> 0

## Dividing our dataset

In [12]:
X = df.drop(columns=["liked"])                        
y = df["liked"]

### splitting our data into train and test

In [13]:
X_train,X_test, Y_train,Y_test = train_test_split(X,y,test_size=.3)

## Appyling SVC

In [15]:
svc_model = SVC(kernel ='linear')
svc_model.fit(X_train,Y_train)
svc_model.score(X_test,Y_test) *100

83.22666666666667

In [16]:
X_test[0:]

       dayofweek  age  numscreens  minigame  used_premium_feature  enrolled
28168          1   27           1         0                     0         0
46446          4   28           2         0                     0         0
30888          4   22          20         1                     0         1
10296          2   36           9         0                     0         1
2061           2   22          36         0                     0         1
...          ...  ...         ...       ...                   ...       ...
6530           0   35          13         0                     0         0
21492          1   30          26         0                     0         1
15193          2   25           4         0                     0         0
6189           6   30          29         0                     0         1
20275          3   39          15         0                     0         0

[15000 rows x 6 columns]

In [17]:
y_pred=svc_model.predict(X_test)                 #predicting the persons liked

In [18]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

## Applying logistic regression

In [22]:
reg = LogisticRegression()

In [24]:
reg.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
y_pred = reg.predict(X_test)

In [30]:
reg.score(Y_test, y_pred)*100

ValueError: Expected 2D array, got 1D array instead:
array=[0 0 0 ... 0 0 1].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.