In [1]:
import pandas as pd

In [5]:
df=pd.read_csv(r'F:\Python_Class\Dataset\bangalore house price prediction OHE-data.csv')

In [6]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X=df.drop('price',axis=1)
y=df['price']
print('Shape of X=',X.shape)
print('Shape of y=',y.shape)

Shape of X= (7120, 107)
Shape of y= (7120,)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=41)
print('Shape of X Train',X_train.shape)
print('Shape of X Test',X_test.shape)
print('Shape of y Train',y_train.shape)
print('Shape of y Test',y_test.shape)

Shape of X Train (5696, 107)
Shape of X Test (1424, 107)
Shape of y Train (5696,)
Shape of y Test (1424,)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [11]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [12]:
lr.score(X_test,y_test)

0.8895785990005091

## Root Mean Square Error

In [13]:
y_pred=lr.predict(X_test)
y_pred

array([43.15869982, 10.91605494, 52.24254042, ..., 99.03930202,
       33.57952765, 55.34517109])

In [14]:
y_test

5089     60.000
250      35.000
6731     78.000
4003     85.000
2534     70.000
         ...
3190     51.000
5379    375.000
5787    100.000
4622     52.430
1403     56.725
Name: price, Length: 1424, dtype: float64

In [17]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [16]:
mse=mean_squared_error(y_test,y_pred)
mse

915.4811140152566

In [18]:
rmse=np.sqrt(mse)
rmse

30.256918448765674